body{
    background-color: #A7D6E4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
*{
    font-family: "Lilita One";
}
.start,
.selection,
.game,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 10%;
    width: 100%;
    height: 100%;
    background-color: #A7D6E4;
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.selection{
    gap:  1%;
}
.final{
    gap:  0%;
}
.difficulty{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title{
    width: 60%;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
}
.btn{
    width: 80%;
    max-width: 450px;
}
.image{
    width: 50%;
    transform: rotate(-20deg);
    max-width: 450px;
}
.startBuutton{
    width: 60vh;
}

.startButton:active,.startButton:active,.readyButton:active,.easy:active,.normal:active,.hard:active,.playAgain:active,.home:active{
    animation: animate 0.2s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-20deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(20deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

.hide{
    display: none;
    visibility: hidden;
}
.easy, .normal, .hard{
    margin-top: 2%;
    margin-bottom: 2%;
}

.ready{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    background-color: transparent;
}

.pop{
    background-color: white;
    position: relative;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail{
    width: 90%;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail p {
    margin: 5px;
    font-size: 26px;
}

p.highlight{
    font-size: 36px;
    color:crimson;
}

.playAgain{
    margin: 18px;
}
.home{
    margin:0px  18px;
}
.difficulty p{
    color: #18475E;
    font-size: 40px;
    font-weight: bolder;
}
.top{
    width: 100%;
}

p.instruction{
    padding: 10px;
    margin: 0 auto;
    max-width: 80%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: center;
}
.timer-count{
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #18475E;
    font-size: 50px;
}
.ball{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
}
.endBallImage{
    width: 30%;
    margin-top: 1%;
    transform: rotate(-20deg);
}
.text{
    width: 40vh;
}
.size{
    position: relative;
    width: 100%;
}
.redLine{
    margin: 0;
    position: absolute;
    width: 100%;
}
.encouarge{
     font-size: 40px;
}

.finalBackground{
    width: 80%;
    padding: 5% 5%;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#EADF84 ;
    box-shadow: 0px 8px #DACB55;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.imageText{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageText p{
    margin: 10px auto;
}
.tell{
    text-align: center;
    font-size: 25px;
}
.game-background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ipad*/
@media screen and (min-width:768px) and (max-width:1023px) {
    .endBallImage{
        width: 40%;
    }
    .encouarge{
        font-size: 80px;
    }
    .tell{
        margin-bottom: 25px !important;
        font-size: 40px;
    }
    .finalBackground{
        width: 50%;
        border-radius: 20px;
        box-shadow: 0px 15px #DACB55;
    }
    .playAgain{
        margin: 50px;
    }
}

/*desktop*/
@media screen and (min-width:1200px){
    body{
      width: 100%;
    }
    .start,.selection,.final,.game,.ready,.game-container, .video-container{
        max-width: 400px;
        margin: 0 auto;
    }
    .preview{
        max-width: 300px;
        margin: 40px auto;
    }
    .start, .final, .game{
      left: 0;
      right: 0;
    }
    .card-shuffle1 img,.card-shuffle2 img,.card-shuffle3 img,.card1 img,.card2 img,.card3 img{
        width: 20vmin;
        margin-left: -3vmin;
    }
    .startButton, .againButton,.playAgain,.home,.easy,.normal,.hard{
        max-width: 100%;
    }
    .playAgain{
        margin: 18px;
    }
    .easy,.normal,.hard{
        margin: 10px auto;
    }
    .card-replace{
        height: 230px;
    }
    .difficulty p {
        margin: 10px auto;
    }
    .detail{
        font-size: 20px;
    }
}

@media screen and (max-width:767px){
    p.instruction{
        font-size: 20px;
    }
}
.image-ball{
    animation: rotate infinite alternate 5s;
}


@keyframes rotate {
    from {
      transform: rotate(0deg) translate(25px)
    }
    to {
      transform: rotate(360deg) translate(-25px)
    }
  }


.playAgain .btn, .home .btn{
    width: 100%;
  }

  @media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }